## Lending Club

#### Libraies

In [3]:
# Importing Library for Data Realated work
import pandas as pd 
import numpy as np

# Importing Graphical Ploting library for Data Visualiazation 
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',150)
import warnings
warnings.filterwarnings('ignore')

#### Importing Data File

In [5]:
# low_memory=False helps to read the file in one go and not in chucks, 
# With in the data there exsits columns with mixed data type (dtype) lowering the perofomance.

loan_df = pd.read_csv(r"D:\ML&AI\Case_Study\Lending_club_study\loan\loan.csv", low_memory=False)

In [6]:
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

#### Analyzing Data

In [8]:
loan_df.shape

(39717, 111)

In [9]:
loan_df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #    Column                          Dtype
---   ------                          -----
 0    id                              int64
 1    member_id                       int64
 2    loan_amnt                       int64
 3    funded_amnt                     int64
 4    funded_amnt_inv                 float64
 5    term                            object
 6    int_rate                        object
 7    installment                     float64
 8    grade                           object
 9    sub_grade                       object
 10   emp_title                       object
 11   emp_length                      object
 12   home_ownership                  object
 13   annual_inc                      float64
 14   verification_status             object
 15   issue_d                         object
 16   loan_status                     object
 17   pymnt_plan                      object
 18   url                             object
 19   desc                            object
 20   purpose                         object
 21   title                           object
 22   zip_code                        object
 23   addr_state                      object
 24   dti                             float64
 25   delinq_2yrs                     int64
 26   earliest_cr_line                object
 27   inq_last_6mths                  int64
 28   mths_since_last_delinq          float64
 29   mths_since_last_record          float64
 30   open_acc                        int64
 31   pub_rec                         int64
 32   revol_bal                       int64
 33   revol_util                      object
 34   total_acc                       int64
 35   initial_list_status             object
 36   out_prncp                       float64
 37   out_prncp_inv                   float64
 38   total_pymnt                     float64
 39   total_pymnt_inv                 float64
 40   total_rec_prncp                 float64
 41   total_rec_int                   float64
 42   total_rec_late_fee              float64
 43   recoveries                      float64
 44   collection_recovery_fee         float64
 45   last_pymnt_d                    object
 46   last_pymnt_amnt                 float64
 47   next_pymnt_d                    object
 48   last_credit_pull_d              object
 49   collections_12_mths_ex_med      float64
 50   mths_since_last_major_derog     float64
 51   policy_code                     int64
 52   application_type                object
 53   annual_inc_joint                float64
 54   dti_joint                       float64
 55   verification_status_joint       float64
 56   acc_now_delinq                  int64
 57   tot_coll_amt                    float64
 58   tot_cur_bal                     float64
 59   open_acc_6m                     float64
 60   open_il_6m                      float64
 61   open_il_12m                     float64
 62   open_il_24m                     float64
 63   mths_since_rcnt_il              float64
 64   total_bal_il                    float64
 65   il_util                         float64
 66   open_rv_12m                     float64
 67   open_rv_24m                     float64
 68   max_bal_bc                      float64
 69   all_util                        float64
 70   total_rev_hi_lim                float64
 71   inq_fi                          float64
 72   total_cu_tl                     float64
 73   inq_last_12m                    float64
 74   acc_open_past_24mths            float64
 75   avg_cur_bal                     float64
 76   bc_open_to_buy                  float64
 77   bc_util                         float64
 78   chargeoff_within_12_mths        float64
 79   delinq_amnt                     int64
 80   mo_sin_old_il_acct              float64
 81   mo_sin_old_rev_tl_op            float64
 82   mo_sin_rcnt_rev_tl_op           float64
 83   mo_sin_rcnt_tl                  float64
 84   mort_acc                        float64
 85   mths_since_recent_bc            float64
 86   mths_since_recent_bc_dlq        float64
 87   mths_since_recent_inq           float64
 88   mths_since_recent_revol_delinq  float64
 89   num_accts_ever_120_pd           float64
 90   num_actv_bc_tl                  float64
 91   num_actv_rev_tl                 float64
 92   num_bc_sats                     float64
 93   num_bc_tl                       float64
 94   num_il_tl                       float64
 95   num_op_rev_tl                   float64
 96   num_rev_accts                   float64
 97   num_rev_tl_bal_gt_0             float64
 98   num_sats                        float64
 99   num_tl_120dpd_2m                float64
 100  num_tl_30dpd                    float64
 101  num_tl_90g_dpd_24m              float64
 102  num_tl_op_past_12m              float64
 103  pct_tl_nvr_dlq                  float64
 104  percent_bc_gt_75                float64
 105  pub_rec_bankruptcies            float64
 106  tax_liens                       float64
 107  tot_hi_cred_lim                 float64
 108  total_bal_ex_mort               float64
 109  total_bc_limit                  float64
 110  total_il_high_credit_limit      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

___Finding the percentage of the Null values and Sorting them (Percentage give a better understanding the count of null values)___

In [11]:
# Finding the percentage of the Null values and Sorting them (Percentage give a better understanding the count of null values)
missing_value_per = loan_df.isnull().mean()*100
result_desc = missing_value_per.sort_values(ascending = False)

In [12]:
# Computing the count of columns where null value of the coulmn is equal to 100% 
(result_desc != 100).sum()

57

___Setting Null values threshold___

___Considering more than 40% null value as the cut off for dorpping columns in DataFrame___

In [14]:
# Threshold Setting
nullcol_thres = 0.4*len(loan_df)
null_col_head = [col for col in loan_df.columns if loan_df[col].isnull().sum()>=nullcol_thres]

In [15]:
# Dropping Columns
filtered_df = loan_df.drop(null_col_head, axis=1)

In [16]:
filtered_df.head(1)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,3,0,13648,83.70%,9,f,0.0,0.0,5863.155187,5833.84,5000.0,863.16,0.0,0.0,0.0,Jan-15,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

___Analysing the dataframe after dropping the columns___

In [18]:
missing_value_per = filtered_df.isnull().mean()*100
result_desc = missing_value_per.sort_values(ascending = False)

In [19]:
result_desc

desc                          32.585543
emp_title                      6.191303
emp_length                     2.706650
pub_rec_bankruptcies           1.754916
last_pymnt_d                   0.178765
collections_12_mths_ex_med     0.140998
chargeoff_within_12_mths       0.140998
revol_util                     0.125891
tax_liens                      0.098195
title                          0.027696
last_credit_pull_d             0.005036
total_rec_prncp                0.000000
out_prncp                      0.000000
initial_list_status            0.000000
out_prncp_inv                  0.000000
total_acc                      0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
collection_recovery_fee        0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
pub_rec                        0.000000
last_pymnt_amnt                0.000000
policy_code                    0.000000
application_type               0.000000
acc_now_delinq                 0.000000
delinq_amnt                    0.000000
revol_bal                      0.000000
id                             0.000000
open_acc                       0.000000
member_id                      0.000000
loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
url                            0.000000
purpose                        0.000000
zip_code                       0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_cr_line               0.000000
inq_last_6mths                 0.000000
dtype: float64

In [20]:
#null_vlaues_df = null_values[null_values > 0 ].index
#filtered_df[null_vlaues_df]
#filtered_df[filtered_df['title'].isnull()].head(1)

In [21]:
filtered_df['int_rate'].value_counts()

int_rate
10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
         ...
18.36%      1
16.96%      1
16.15%      1
16.01%      1
17.44%      1
Name: count, Length: 371, dtype: int64

In [22]:
filtered_df['int_rate'] = filtered_df['int_rate'].str.replace('%','').astype(float).round(0)
filtered_df['revol_util'] = filtered_df['revol_util'].str.replace('%','').astype(float).round(0)

In [23]:
filtered_df['int_rate']

0        11.0
1        15.0
2        16.0
3        13.0
4        13.0
         ...
39712     8.0
39713    10.0
39714     8.0
39715     7.0
39716    14.0
Name: int_rate, Length: 39717, dtype: float64

In [24]:
filtered_df['term'].value_counts()

term
 36 months    29096
 60 months    10621
Name: count, dtype: int64

In [25]:
date_coulms = filtered_df[['issue_d','earliest_cr_line','last_pymnt_d','last_credit_pull_d']]
for col in date_coulms:
    filtered_df[col] = pd.to_datetime(filtered_df[col], format = '%b-%y',errors='coerce')

In [26]:
filtered_df[['earliest_cr_line','issue_d','last_pymnt_d','last_credit_pull_d']].head()

  earliest_cr_line    issue_d last_pymnt_d last_credit_pull_d
0       1985-01-01 2011-12-01   2015-01-01         2016-05-01
1       1999-04-01 2011-12-01   2013-04-01         2013-09-01
2       2001-11-01 2011-12-01   2014-06-01         2016-05-01
3       1996-02-01 2011-12-01   2015-01-01         2016-04-01
4       1996-01-01 2011-12-01   2016-05-01         2016-05-01

In [27]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  float64
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  datetime64[ns]
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26775 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  datetime64[ns]
 27  inq_last_6mths              39717 non-null  int64
 28  open_acc                    39717 non-null  int64
 29  pub_rec                     39717 non-null  int64
 30  revol_bal                   39717 non-null  int64
 31  revol_util                  39667 non-null  float64
 32  total_acc                   39717 non-null  int64
 33  initial_list_status         39717 non-null  object
 34  out_prncp                   39717 non-null  float64
 35  out_prncp_inv               39717 non-null  float64
 36  total_pymnt                 39717 non-null  float64
 37  total_pymnt_inv             39717 non-null  float64
 38  total_rec_prncp             39717 non-null  float64
 39  total_rec_int               39717 non-null  float64
 40  total_rec_late_fee          39717 non-null  float64
 41  recoveries                  39717 non-null  float64
 42  collection_recovery_fee     39717 non-null  float64
 43  last_pymnt_d                39646 non-null  datetime64[ns]
 44  last_pymnt_amnt             39717 non-null  float64
 45  last_credit_pull_d          39715 non-null  datetime64[ns]
 46  collections_12_mths_ex_med  39661 non-null  float64
 47  policy_code                 39717 non-null  int64
 48  application_type            39717 non-null  object
 49  acc_now_delinq              39717 non-null  int64
 50  chargeoff_within_12_mths    39661 non-null  float64
 51  delinq_amnt                 39717 non-null  int64
 52  pub_rec_bankruptcies        39020 non-null  float64
 53  tax_liens                   39678 non-null  float64
dtypes: datetime64[ns](4), float64(20), int64(13), object(17)
memory usage: 16.4+ MB

In [28]:
filtered_df.head(1)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,11.0,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,2011-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,1985-01-01,1,3,0,13648,84.0,9,f,0.0,0.0,5863.155187,5833.84,5000.0,863.16,0.0,0.0,0.0,2015-01-01,171.62,2016-05-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [29]:
# Droping Desc as 30% of the values are null and within the url the data present with in the coulmn have no analysis power 
filtered_df.drop(columns=['desc','url'], inplace = True)

In [30]:
filtered_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,11.0,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,2011-12-01,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0,1985-01-01,1,3,0,13648,84.0,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,2015-01-01,171.62,2016-05-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.0,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,2011-12-01,Charged Off,n,car,bike,309xx,GA,1.00,0,1999-04-01,5,3,0,1687,9.0,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,2013-04-01,119.66,2013-09-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,16.0,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,2011-12-01,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0,2001-11-01,2,2,0,2956,98.0,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,2014-06-01,649.91,2016-05-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.0,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,2011-12-01,Fully Paid,n,other,personel,917xx,CA,20.00,0,1996-02-01,1,10,0,5598,21.0,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,2015-01-01,357.48,2016-04-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,13.0,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,2011-12-01,Current,n,other,Personal,972xx,OR,17.94,0,1996-01-01,0,15,0,27783,54.0,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,2016-05-01,67.79,2016-05-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [31]:
filtered_df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,issue_d,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717,39717.000000,39717.000000,39717,39717.000000,39717.000000,39717.000000,39717.000000,39667.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39646,39717.000000,39715,39661.0,39717.0,39717.0,39661.0,39717.0,39020.000000,39678.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,12.011229,324.561922,6.896893e+04,2010-11-03 23:26:45.166553344,13.315130,0.146512,1997-04-11 16:09:21.250849664,0.869200,9.294408,0.055065,13382.528086,48.833514,22.088828,51.227887,50.989768,12153.596544,11567.149118,9793.348813,2263.663172,1.363015,95.221624,12.406112,2013-04-10 05:32:22.652474368,2678.826162,2014-09-07 19:16:08.007050496,0.0,1.0,0.0,0.0,0.0,0.043260,0.0
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,5.000000,15.690000,4.000000e+03,2007-06-01 00:00:00,0.000000,0.000000,1969-02-01 00:00:00,0.000000,2.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2008-01-01 00:00:00,0.000000,2007-05-01 00:00:00,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,9.000000,167.020000,4.040400e+04,2010-05-01 00:00:00,8.170000,0.000000,1993-12-01 00:00:00,0.000000,6.000000,0.000000,3703.000000,25.000000,13.000000,0.000000,0.000000,5576.930000,5112.310000,4600.000000,662.180000,0.000000,0.000000,0.000000,2012-04-01 00:00:00,218.680000,2013-06-01 00:00:00,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,12.000000,280.220000,5.900000e+04,2011-02-01 00:00:00,13.400000,0.000000,1998-05-01 00:00:00,1.000000,9.000000,0.000000,8850.000000,49.000000,20.000000,0.000000,0.000000,9899.640319,9287.150000,8000.000000,1348.910000,0.000000,0.000000,0.000000,2013-04-01 00:00:00,546.140000,2015-03-01 00:00:00,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,15.000000,430.780000,8.230000e+04,2011-08-01 00:00:00,18.600000,0.000000,2001-09-01 00:00:00,1.000000,12.000000,0.000000,17058.000000,72.000000,29.000000,0.000000,0.000000,16534.433040,15798.810000,13653.260000,2833.400000,0.000000,0.000000,0.000000,2014-06-01 00:00:00,3293.160000,2016-05-01 00:00:00,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,25.000000,1305.190000,6.000000e+06,2011-12-01 00:00:00,29.990000,11.000000,2068-12-01 00:00:00,8.000000,44.000000,4.000000,149588.000000,100.000000,90.000000,6311.470000,6307.370000,58563.679930,58563.680000,35000.020000,23563.680000,180.200000,29623.350000,7002.190000,2016-05-01 00:00:00,36115.200000,2016-05-01 00:00:00,0.0,1.0,0.0,0.0,0.0,2.000000,0.0
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,3.717187,208.874874,6.379377e+04,NaN,6.678594,0.491812,NaN,1.070219,4.400282,0.237200,15885.016641,28.339127,11.401709,375.172839,373.824457,9042.040766,8942.672613,7065.522127,2608.111964,7.289979,688.744771,148.671593,NaN,4447.136012,NaN,0.0,0.0,0.0,0.0,0.0,0.204324,0.0

In [32]:
filtered_df[['collections_12_mths_ex_med','policy_code','acc_now_delinq','chargeoff_within_12_mths','delinq_amnt']].describe()

,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt
count,39661.0,39717.0,39717.0,39661.0,39717.0
mean,0.0,1.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0
min,0.0,1.0,0.0,0.0,0.0
25%,0.0,1.0,0.0,0.0,0.0
50%,0.0,1.0,0.0,0.0,0.0
75%,0.0,1.0,0.0,0.0,0.0
max,0.0,1.0,0.0,0.0,0.0

In [33]:
# Dropping these coloumns where from the above describe function 
# There is no comparable or catagorical data present whaich can be vaulabe for the analysis 
filtered_df.drop(columns=['collections_12_mths_ex_med','policy_code','acc_now_delinq','chargeoff_within_12_mths','delinq_amnt'], inplace = True)

In [34]:
filtered_df.set_index('id',inplace = True)

In [35]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39717 entries, 1077501 to 87023
Data columns (total 46 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   member_id                39717 non-null  int64
 1   loan_amnt                39717 non-null  int64
 2   funded_amnt              39717 non-null  int64
 3   funded_amnt_inv          39717 non-null  float64
 4   term                     39717 non-null  object
 5   int_rate                 39717 non-null  float64
 6   installment              39717 non-null  float64
 7   grade                    39717 non-null  object
 8   sub_grade                39717 non-null  object
 9   emp_title                37258 non-null  object
 10  emp_length               38642 non-null  object
 11  home_ownership           39717 non-null  object
 12  annual_inc               39717 non-null  float64
 13  verification_status      39717 non-null  object
 14  issue_d                  39717 non-null  datetime64[ns]
 15  loan_status              39717 non-null  object
 16  pymnt_plan               39717 non-null  object
 17  purpose                  39717 non-null  object
 18  title                    39706 non-null  object
 19  zip_code                 39717 non-null  object
 20  addr_state               39717 non-null  object
 21  dti                      39717 non-null  float64
 22  delinq_2yrs              39717 non-null  int64
 23  earliest_cr_line         39717 non-null  datetime64[ns]
 24  inq_last_6mths           39717 non-null  int64
 25  open_acc                 39717 non-null  int64
 26  pub_rec                  39717 non-null  int64
 27  revol_bal                39717 non-null  int64
 28  revol_util               39667 non-null  float64
 29  total_acc                39717 non-null  int64
 30  initial_list_status      39717 non-null  object
 31  out_prncp                39717 non-null  float64
 32  out_prncp_inv            39717 non-null  float64
 33  total_pymnt              39717 non-null  float64
 34  total_pymnt_inv          39717 non-null  float64
 35  total_rec_prncp          39717 non-null  float64
 36  total_rec_int            39717 non-null  float64
 37  total_rec_late_fee       39717 non-null  float64
 38  recoveries               39717 non-null  float64
 39  collection_recovery_fee  39717 non-null  float64
 40  last_pymnt_d             39646 non-null  datetime64[ns]
 41  last_pymnt_amnt          39717 non-null  float64
 42  last_credit_pull_d       39715 non-null  datetime64[ns]
 43  application_type         39717 non-null  object
 44  pub_rec_bankruptcies     39020 non-null  float64
 45  tax_liens                39678 non-null  float64
dtypes: datetime64[ns](4), float64(18), int64(9), object(15)
memory usage: 14.2+ MB

### Segmenting for easy Handling

In [112]:
def num_col_value_c (df):
    numerical_columns = df.select_dtypes(include = ['float64','int64']).columns
    return df[numerical_columns]

num_col = num_col_value_c(filtered_df)

In [114]:
def str_col_value_c (df):
    string_coulmuns = df.select_dtypes(include = ['object']).columns
    return df[string_coulmuns]

str_col = str_col_value_c(filtered_df)

In [116]:
def date_col_value_c (df):
    dat_coulmuns = df.select_dtypes(include = ['datetime64']).columns
    return df[dat_coulmuns]

date_col = date_col_value_c(filtered_df)

### Converting Data Type

___Objects___

In [118]:
str_col.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39717 entries, 1077501 to 87023
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   term                 39717 non-null  object
 1   grade                39717 non-null  object
 2   sub_grade            39717 non-null  object
 3   emp_title            37258 non-null  object
 4   emp_length           38642 non-null  object
 5   home_ownership       39717 non-null  object
 6   verification_status  39717 non-null  object
 7   loan_status          39717 non-null  object
 8   pymnt_plan           39717 non-null  object
 9   purpose              39717 non-null  object
 10  title                39706 non-null  object
 11  zip_code             39717 non-null  object
 12  addr_state           39717 non-null  object
 13  initial_list_status  39717 non-null  object
 14  application_type     39717 non-null  object
dtypes: object(15)
memory usage: 4.8+ MB

In [120]:
str_col.describe()

,term,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,initial_list_status,application_type
count,39717,39717,39717,37258,38642,39717,39717,39717,39717,39717,39706,39717,39717,39717,39717
unique,2,7,35,28820,11,5,3,3,1,14,19615,823,50,1,1
top,36 months,B,B3,US Army,10+ years,RENT,Not Verified,Fully Paid,n,debt_consolidation,Debt Consolidation,100xx,CA,f,INDIVIDUAL
freq,29096,12020,2917,134,8879,18899,16921,32950,39717,18641,2184,597,7099,39717,39717

___Objects ---> Categorical___

In [222]:
# Converting object data cloumns into categorical data based on the obsereded value_counts
def convert_to_category(df, threshold=0.4):
    """
    Converts columns to 'category' type if unique values are less than a specified threshold (40% by default) 
    of the total non-null values.
    
    Parameters:
    str_col : DataFrame
        The input DataFrame.
    threshold : float
        The ratio threshold to compare unique values to total count (default is 0.4).

    Returns:
    DataFrame
        Modified DataFrame with appropriate columns converted to 'category' dtype.
    """
    for col in str_col.columns:
        # Only consider object or numerical columns (ignoring datetime for now)
        if str_col[col].dtype == 'object' or df[col].dtype.name.startswith('int') or df[col].dtype == 'float64':
            unique_count = df[col].nunique()
            total_count = df[col].count()
            
            # Calculate percentage of unique values
            if total_count > 0:  # Avoid division by zero
                unique_ratio = unique_count / total_count

                # If the unique_ratio is below the threshold, convert to 'category'
                if unique_ratio < threshold:
                    df[col] = df[col].astype('category')
                    print(f"Converted column '{col}' to 'category' type")

    return df

# Apply the function to your DataFrame
filtered_df = convert_to_category(filtered_df)

In [118]:
string_coulmuns = filtered_df.select_dtypes(include = ['object']).columns
string_coulmuns

Index(['emp_title', 'purpose', 'title', 'addr_state', 'initial_list_status'], dtype='object')

In [44]:
#  zip_code has disguised null values whihc dont have analys im pact thus droppping them 
filtered_df.drop(columns = 'zip_code',inplace = True)

In [122]:
filtered_df[string_coulmuns].value_counts()

emp_title                       purpose             title                               addr_state  initial_list_status
Southern California Edison      debt_consolidation  Debt Consolidation                  CA          f                      4
State of California             debt_consolidation  Debt Consolidation                  CA          f                      4
UPS                             debt_consolidation  Debt Consolidation Loan             CA          f                      3
US Army                         debt_consolidation  Debt Consolidation                  WA          f                      3
Frito Lay                       debt_consolidation  Debt Consolidation                  CA          f                      3
                                                                                                                          ..
Gowan                           home_improvement    Home Improvement Project            TX          f                      1
Gowan Inc.                      major_purchase      Lot                                 TX          f                      1
Grace & Growth Family Services  debt_consolidation  debt consolidation                  CA          f                      1
Grace Performing Arts Academy   credit_card         Pay off Credit Card FINALLY!!!      MA          f                      1
zozaya officiating              debt_consolidation  Free From College Credit Card Debt  CA          f                      1
Name: count, Length: 37032, dtype: int64

In [128]:
filtered_df['initial_list_status'].value_counts()

initial_list_status
f    39717
Name: count, dtype: int64

In [130]:
## initial_list_status have the enetery as f which has no impact on analyss 
filtered_df.drop(columns = 'initial_list_status', inplace = True )

In [138]:
filtered_df[string_coulmuns].value_counts()

emp_title                       purpose             title                               addr_state
Southern California Edison      debt_consolidation  Debt Consolidation                  CA            4
State of California             debt_consolidation  Debt Consolidation                  CA            4
UPS                             debt_consolidation  Debt Consolidation Loan             CA            3
US Army                         debt_consolidation  Debt Consolidation                  WA            3
Frito Lay                       debt_consolidation  Debt Consolidation                  CA            3
                                                                                                     ..
Gowan                           home_improvement    Home Improvement Project            TX            1
Gowan Inc.                      major_purchase      Lot                                 TX            1
Grace & Growth Family Services  debt_consolidation  debt consolidation                  CA            1
Grace Performing Arts Academy   credit_card         Pay off Credit Card FINALLY!!!      MA            1
zozaya officiating              debt_consolidation  Free From College Credit Card Debt  CA            1
Name: count, Length: 37032, dtype: int64

In [45]:
# Write value counts to a text file
with open(r'D:\ML&AI\Case_Study\Lending_club_study\value_counts_summary.txt', 'w') as file:
    for col in filtered_df.columns:
        file.write(f"Value counts for column: {col}\n")
        file.write(f"{filtered_df[col].value_counts()}\n\n")

In [46]:
missing_value_per = filtered_df.isnull().mean()*100
result_desc = missing_value_per.sort_values(ascending = False)

In [47]:
result_desc[result_desc > 0]

emp_title               6.191303
emp_length              2.706650
pub_rec_bankruptcies    1.754916
last_pymnt_d            0.178765
revol_util              0.125891
tax_liens               0.098195
title                   0.027696
last_credit_pull_d      0.005036
dtype: float64

In [48]:
filtered_df['emp_title'].mode()[0]

'US Army'

In [49]:
filtered_df['emp_title'].describe()

count       37258
unique      28820
top       US Army
freq          134
Name: emp_title, dtype: object

In [50]:
filtered_df['emp_length'].mode()[0]

'10+ years'